.gecui-workspaces {
	background-image: url('../images/zones-stack.png') !important;
}

.gecui-workspace {
	background-image: url('../images/zone.png') !important;
}
.gecui-workspace-create {
	background-image: url('../images/zone--plus.png') !important;
}
.gecui-workspace-delete {
	background-image: url('../images/zone--minus.png') !important;
}

.gecui-layers {
	background-image: url('../images/layers-stack.png') !important;
}

.gecui-layer {
	background-image: url('../images/layer.png') !important;
}

.gecui-styles {
	background-image: url('../images/pictures-stack.png') !important;
}

.gecui-style {
	background-image: url('../images/picture.png') !important;
}

.gecui-featuretype {
	background-image: url('../images/layer-shape-polygon.png') !important;
}

.gecui-datastore {
	background-image: url('../images/database.png') !important;
}
.gecui-datastore-create {
	background-image: url('../images/database--plus.png') !important;
}
.gecui-datastore-delete {
	background-image: url('../images/database--minus.png') !important;
}

.gecui-delete {
	background-image: url('../images/cross.png') !important;
}


/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}